
<% if @families.empty? %>

<div class="well well-lg">
  There are no families in the system yet. <%= link_to 'Create one now.', new_family_path %>
</div>

<% else %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th class="hidden-xs">Phone</th>
      <th>Size</th>
      <th>Children</th>
      <th class="hidden-xs">Food Only</th>
      <th class="hidden-xs" colspan="2">Options</th>

    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.box %></td>
        <td><%= family.last_name %></td>
        <td><%= family.first_name %></td>
        <td class="hidden-xs"><%= family.phone %></td>
        <td><%= family.family_size %></td>
        <td><%= family.children_size %></td>
        <td class="hidden-xs"><%= !!family.food_only %></td>
        <td class="hidden-xs"><%= link_to 'Show', family %></td>
        <td class="hidden-xs"><%= link_to 'Edit', edit_family_path(family) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= link_to 'New Family', new_family_path %>
