
<% if @families.empty? %>

<div class="well well-lg">
  There are no families in the system yet. <%= link_to 'Create one now.', new_family_path %>
</div>

<% else %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Phone</th>
      <th>Size</th>
      <th>Children</th>
      <th>Food Only</th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.box %></td>
        <td><%= family.last_name %></td>
        <td><%= family.first_name %></td>
        <td><%= family.phone %></td>
        <td><%= family.family_size %></td>
        <td><%= family.children_size %></td>
        <td><%= !!family.food_only %></td>
        <td><%= link_to 'Show', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= link_to 'New Family', new_family_path %>
